.canvasContainer{
    max-height: 800px;
    max-width: 800px;
    position: absolute;
    left: 420px;
    top: 0px;
}

#myChart{
    height: 400px;
    width: 550px;
    position: relative;
    top: 0px;
}

.BestDegree{
    position: relative;
    left: 10px;
    top: 40px;
}

.BestDegreeValue{
    position: relative;
    left: 100px;
    top: 22px;
}

.LearningRate{
    position: relative;
    left: 10px;
    top: 40px;
}

.LearningRateValue{
    position: relative;
    left: 110px;
    top: 22px;
}

.slideContainer{
    width: 100%;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: 40px;
    left: 10px;
    width: 50%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

